* {
    margin: 0;
    padding: 0;
    font: 14px/1.5 Arial;
    color: #666;
}
a {
    text-decoration: none;
}
body {
    background: #ccc;
}
svg {
    display: none;
}
#layout {
    max-width: 900px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 100%;
    background: #434246;
    text-align: center;
}

header>h1 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    padding-top: 75px;
}

header>p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #AAA;
}

aside {
    width: 240px;
    background: #FFF;
    min-height: calc(100vh - 150px);
    border-right: 1px solid #ccc;
}

aside>.heads {
    text-align: center;
    margin-top: -85px;
}

aside>.heads>img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
aside section {
    margin: 35px 20px 0 20px;
}
main section {
    margin:  20px;
}

section h2 {
    color: rgb(63, 98, 141);
    font-size: 18px;
    font-weight: bold;
}

.personal .item span:first-child {
    display: inline-block;
    width: 90px;
}

.personal .item span:last-child:before {
    content: ':';
    margin-right: 20px;
}

.skills .item {
    display: flex;
    align-items: center;
}

.skills .item span:first-child {
    width: 90px;
}

.skills .item span:last-child {
    flex: 1px;
    height: 5px;
    background: #ccc;
}

.skills .item span:last-child i {
    display: block;
    height: 5px;
    width: 80%;
    background: #000;
}
.contact svg{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}
.contact .item {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

main {
    flex: 1;
    background: #FFF;
}

main .title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
main .title h2 {
    margin-right: 10px;
}
main .line {
    flex: 1;
    border: 1px solid rgb(229,229,229)
}
main .purpose {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
main .purpose svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
main .purpose span {
    font-size: 14px;
}
main .purpose li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
main h2 {
    font-size: 20px;
}
main h3 {
    font-size: 16px;
    color: rgb(24, 17, 119);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
main .experience ul {
    margin-left: 30px;
}
main .experience li {
    margin-bottom: 5px;
}
main .experience span {
    font-weight: bold;
    color: #444;
}
main .experience a {
    font-weight: bold;
    color: rgb(116, 16, 116);
}
main .experience a:hover {
    color: red;
}
/* main .content {
    margin: 
} */
main .blog {
    display: flex;
    justify-content: flex-start;
}
main .blog ul {
    margin: 0 20px;
    width: 50%;
}
main .blog li {
    list-style: none;
}
main .blog a {
    color: #D4664E;
    font-weight: bold;
}
main .blog a:hover{
    color: red;
}
.time {
    display: flex;
    justify-content: center;
    
}
.time span {
    display: inline-block;
    width: 33%;
    text-align: center;
}





@media (max-width:600px) {
    #layout {
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    header {
        background: #434246;
        text-align: center;
    }
    header>h1 {
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        padding-top: 25px;
    }
    
    header>p {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 10px;
        color: #AAA;
    }
    aside {
        min-height: 100px;
        width: 100%;
        background: #434246;
        border: none;
        position: relative;
        padding-bottom: 10px;
    }
    aside span {
        color: #ccc;
    }
    aside>.heads {
        position: absolute;
        top: 24%;
        left: 4%;
    }
    aside>.heads>img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
    aside .skills {
        text-align: center;
    }
    aside section {
        margin: 6vw 8vw 0 8vw;
    }
    aside section h2 {
        margin: 5px 0 5px 0px;
    }
    aside .contact .item {
        margin-left: 20px;
    }
    aside .my-personal {
        margin-left: 45%;
        
    }
    main .purpose {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main .purpose li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin: 3px 0;
    }

}